body{
   background:linear-gradient(to right,  rgb(185, 147, 42) 59%, rgb(0, 0, 0) 41%);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.container{
   
    margin-top:40px;
    margin-left:30px;
    margin-right:700px;
    text-align: center;
    border-radius: 50px 10px 50px 10px;
    padding-top:30px;
    padding-bottom:30px;
    
}
#title{
    font-size: 60px;
    font-family: Arial;
    color: white;
}
.container p{
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    font-size: 30px;
    font-family: cursive;
    color: rgb(0, 0, 0);
}
.container h5{
    font-size: 20px;
    font-family: Arial;
    color: rgb(255, 255, 255);
}
h4{
    font-family: Arial;
}
#poster{
    position: absolute;
    bottom: 540px;
    left:28px;
    font-size: 50px;
    font-family: Arial;
    color: white;
}
#image1{
    position: absolute;
    top: 390px;
    left: 820px;
    height:221px;
    width: 190px;
   border-radius: 10px;
}
#image2{
    position: absolute;
    top: 210px;
    left: 820px;
    height:171px;
    width: 339px;
   border-radius: 10px;
}
#image3{
    position: absolute;
    top: 27px;
    left: 820px;
    height:171px;
    width: 339px;
   border-radius: 10px;
}
#image4{
    position: absolute;
    top: 390px;
    left: 1020px;
    height:221px;
    width: 339px;
   border-radius: 10px;
}
#image5{
    position: absolute;
    top: 27px;
    left: 1167px;
    height:355px;
    width: 189px;
   border-radius: 10px;
}
#web-name{
    background-color: rgb(236, 193, 100);
    padding-top: 30px;
     padding-bottom: 30px;
     padding-left: 30px;
     padding-right: 30px;
    transform: rotate(-90deg);
    position: absolute;
    left:504px;
    top: 150px;
    font-family:Arial;
    font-size: 50px;
    border-radius: 0px 100px 0px 100px;
}



